html, body {
    height: 100%;
    
 }

 .mybody{
    background: black;

 }
#myImg{
    height: 30em;
}

.myjumbo{
    margin-top: 5em;
    text-align: center;
    background-color: black;
}

#map { 
    height: 40em;
    margin-bottom: 25px;
 }

 h1 {
    color: red;
 }

 h2 {
     text-align: left;
 }

 p {
     text-align: left;
     margin-bottom: 25px;
 }

 #weather_image {
    background-color: lightblue;
 }

 .leaflet-popup-content-wrapper {
     border: red solid 3px;
}

.leaflet-popup-content {
    color: blue;
}